.sidebar {
    margin-top: 1%;
    height: 90vh;
}
.jumbotron img {
    width: 100%;
    height: 100%;
}
.jumbotron h1 {
    position: absolute;
    top: 50%;
    left: 35%;
}
.jumbotron {
    text-align: center;
}
.whatIsAnime {
    margin-bottom: 10%;
}
.whyTryIt {
    margin-bottom: 10%;
}
.howFindIt {
    margin-bottom: 10%;
}
.howLearnLike {
    margin-bottom: 10%;
}
.whoTalkWith {
    margin-bottom: 10%;
}
.viewTips {
    margin-bottom: 10%;
}
.ifYouLike {
    margin-bottom: 10%;
}
.relatedItems {
    margin-bottom: 10%;
}
.search {
    right: 0;
}
/*push to dev!*/